<div class="portfolio-item">
    <h3>Bouncing Crazy</h3>
    <a href="http://www.bouncingcrazy.co.uk"><img src="images/bouncing_crazy.png" alt="preview" /></a>
    <p>
        Bouncing Crazy wanted a unique, fun-filled site to suit their personality! A place to showcase all their great products and services, that was responsive and intuitive to use.
    </p>
</div>
