<div class="portfolio-item">
    <h3>FluxWing Cantina</h3>
    <a href="#"><img src="images/fwc-test.png" alt="preview" /></a>
    <p>
        FluxWing Cantina was an e-commerce platform for the popular tabletop game <a href="https://en.wikipedia.org/wiki/Star_Wars:_X-Wing_Miniatures_Game">X-Wing</a>.
    </p>
</div>
