<nav class="navbar navbar-fixed-top header" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand company" href="/">Seafox Web</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/about" class="scrollAbout">About</a></li>
                <li><a href="/portfolio" class="scrollClients">Portfolio</a></li>
                <li><a href="/contact" class="scrollContact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
