<script>
   $(document).ready(function() {
    $(window).scroll(function() {
        if ($(window).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        }
        else {
            $('.scrollToTop').fadeOut();
        }
    });
    $('.scrollToTop').click(function() {
        $('html, body').animate({scrollTop : 0},600);
        return false;
    });
});
</script>
<script>
    $(document).ready(function (){
        $(".scrollAbout").click(function (){
            $('html, body').animate({
                scrollTop: $(".about").offset().top -50
            }, 800);
        });
    });
</script>
<script>
    $(document).ready(function (){
        $(".scrollClients").click(function (){
            $('html, body').animate({
                scrollTop: $(".clients").offset().top -50
            }, 800);
        });
    });
</script>
<script>
    $(document).ready(function (){
        $(".scrollPrices").click(function (){
            $('html, body').animate({
                scrollTop: $(".prices").offset().top -50
            }, 800);
        });
    });
</script>
<script>
    $(document).ready(function (){
        $(".scrollContact").click(function (){
            $('html, body').animate({
                scrollTop: $(".contact").offset().top
            }, 800);
        });
    });
</script>
