<div class="homepage-intro">
	<h1 class="main-left">Welcome,</h1><h1 class="main-right">to Seafox Web</h1>
	<p>Want to build up your online presence? Get in touch <a href="mailto:cfoxsfw@gmail.com?Subject=sent%20via%20website">cfoxsfw@gmail.com</a>.</p>
</div>
