/* CSS */
/* Variables */
/* Main page styles */
body {
  margin: 0 auto;
  padding-top: 70px;
  color: #015;
  background-color: #eee;
  text-align: center;
  overflow-x: hidden; }
  body a {
    color: #015; }
    body a:hover {
      color: #148; }

.header a, .footer a {
  color: #eee; }
  .header a:hover, .footer a:hover {
    color: #2ff; }

h1, h2, h3 {
  margin: 0.3em auto 0.7em; }

h1 {
  font-family: 'Candal', sans-serif;
  font-size: 52px; }

h2 {
  font-family: 'Candal', sans-serif;
  font-size: 38px; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px; }

p {
  margin: 16px 24px 32px;
  font-family: 'Calibri', serif; }

a {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  p {
    font-size: 16px; } }

@media screen and (max-width: 420px) {
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 20px; }
  p {
    font-size: 12px; } }

.hr-fade {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 20, 80, 0), #1eb4dc, rgba(0, 20, 80, 0)); }

/* Animations */
@keyframes slideHeadL {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideHeadR {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.main-left {
  animation: 0.7s ease-out 0s 1 slideHeadL;
  display: inline-block;
  padding-right: 15px; }

.main-right {
  animation: 0.7s ease-out 0s 1 slideHeadR;
  display: inline-block; }

.scrollToTop {
  border-radius: 24px;
  width: 48px;
  height: 48px;
  background: url("/images/scrollUp.png") no-repeat center;
  position: fixed;
  right: 10px;
  bottom: 5px;
  display: none; }

/* Navbar */
.header {
  color: #eee;
  background: #148; }
  .header ul {
    color: #eee;
    background: #148; }
    .header ul .company {
      color: #eee; }
      .header ul .company:hover {
        color: #2ff; }
    .header ul li {
      color: #eee; }
      .header ul li:hover > a {
        color: #2ff;
        background-color: #148; }
      .header ul li a {
        color: #eee; }

/* Footer */
.footer {
  padding: 20px 0 10px 0;
  height: auto;
  background: #148;
  color: #eee;
  width: 100%; }

.portfolio-item {
  padding-bottom: 40px;
  text-align: left; }
  .portfolio-item img {
    height: 300px; }
  .portfolio-item p {
    display: inline-block;
    text-align: justify;
    width: 40%; }

.contact-section a {
  text-decoration: underline; }
