/* Navbar */
.header {
	color: $light-text;
	background: $brand-main;
	ul {
		color: $light-text;
		background: $brand-main;
		.company {
			color: $light-text;
			&:hover {
				color: $lumo-blue;
			}
		}
		li {
			color: $light-text;
			&:hover > a {
				color: $lumo-blue;
				background-color: $brand-main;
			}
			a {
				color: $light-text;
			}
		}
	}
}
