.portfolio-item {
    padding-bottom: 40px;
    text-align: left;
    img {
        height: 300px;
    }
    p {
        display: inline-block;
        text-align: justify;
        width: 40%;
    }
}
