<div class="about section">
	<h1>A Little About Seafox Web</h1>
	<p>
		Kent-based company passionate about making beautiful and functional websites to suit any client's needs. If you need an online presence, help creating your website, or managing, maintaining or reworking an existing website; please do not hesitate to <a href="#">get in touch</a>!</p>
	<p>
		Delivering quality bespoke websites to a high standard, we are a design oriented company who always love to take on a new challenge. Our goal is to ultimately meet and work with other creative minds who share our passion for polished visuals and a positive atmosphere. We strive to always create new and exciting work that both client and creator can be proud of.
	</p>
	<p>
		We pride ourselves on being friendly, efficient designers who value great communication. All our work is done in-house so you will always get a consistent, brand driven website that is perfectly tailored to your needs.
	</p>
	<p>
		We believe truly great work stems from these three words: "Innovation, imagination and determination!"
	</p>
</div>
