<div class="portfolio">
	<h1>The work we do</h1>
	<p>
		We have worked with a variety of clients ranging from business owners to individuals who are just looking for a stronger online presence. They each have specific needs which we are passionate about fulfilling. At Seafox Web we are always looking for a fresh challenge and to grow together with our clients. It is our belief that together, anything is possible.
	</p>
	{{> bouncingCrazy}}
	{{> fluxWing}}
</div>
